.section-about{
  background-color: $color-grey-light-1 ;
  padding: 35rem 0 30rem 0 ;
  margin-top: -50vh;

  @include respond(big-desktop){
    padding: 35rem 0 30rem 0 ;
  }

  @include respond(tab-land){
    padding: 41rem 0 30rem 0 ;
  }

  @include respond(tab-port){
    padding: 53rem 0 30rem 0 ;
  }

  @include respond(phone){
    padding: 70rem 0 30rem 0 ;
  }

  // @include respond(small-phone){
  //   font-size: 25%;
  // }
}

.section-festure{
  margin-top: -10rem;
  padding: 20rem 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8) ),
  url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  & > *{
    transform: skewY(7deg);
  }

}

.section-tour{
  background-color: $color-grey-light-1 ;
  padding: 20rem 0 10rem 0;
  margin-top: -10rem;
}

.section-stories{
  position: relative;
  padding: 8rem 0rem;
}

.section-book{
  padding: 15rem 13rem;
  background-image: linear-gradient(to right bottom, $color-primary-light , $color-primary-dark);

}

.book{
  background-image: linear-gradient(105deg , rgba($color-white , .9) 0% , rgba($color-white , .9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black , .2);
  height: 50rem;

  &__form{
    width: 50% ;
    padding-left: 8rem;
  }
}
