.story{
  width : 75%;
  margin : 0 auto ;
  box-shadow: 0 3rem 6rem , rgba($color-black , .1);
  background-color: rgba($color-white , .5) ;
  border-radius: 3px;
  padding: 4rem  ;
  padding-left: 7rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);


  &__shape{
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path : circle(50% at 50% 50%);
    transform: translateX(-1rem) skewX(12deg);
    overflow: hidden;
  }

  &__img{
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all .5s ;
  }

  &__text{
    transform: skewX(12deg);
  }

  &__caption{
    position: absolute;
    top: 50%;
    left: 50% ;
    transform : translate(-50% , 20%);
    color: $color-white ;
    text-transform: uppercase;
    font-style: 1.6rem ;
    text-align: center;
    opacity: 0 ;
    transition: all .5s;
    backface-visibility: hidden;

  }

  &:hover &__caption{
    opacity: 1 ;
    transform: translate(-50% , -50%);
  }

  &:hover &__img{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
    backface-visibility: hidden;
  }
}
