.story{
  width : 75%;
  margin : 0 auto ;
  box-shadow: 0 3rem 6rem , rgba($color-black , .1);
  background-color: $color-white ;
  border-radius: 3px;
  padding: 6rem 0 0 9rem ;
  font-size: 1.6rem;
  transform:skewX(-12deg);
}
